
	<form novalidate class="simple-form">
		<label for="title{$master.id$}">Title: </label>
		<input id="title{$master.id$}" type="text" ng-model="master.title" required/>
		<label for="from{$master.id$}">From: </label>
		<input id="from{$master.id$}" type="text" ng-model="master.publish_from" required/>
		<label for="to{$master.id$}">To: </label>
		<input id="to{$master.id$}" type="text" ng-model="master.publish_to" required/>
		<p>
			<input type="checkbox" ng-model="post.private" id="private{$master.id$}" />
			<label for="private{$master.id$}">Osobni</label>
		</p>
		<ul class="tags">
			<li>Tagy</li>
			<li ng-repeat="tag in master.tags"><label for="tag{$tag.id$}"></label>
				<label for="tag{$tag.id$}">nazev:</label>
				<input ng-model="tag.title"  id="tag{$tag.id$}" type="text"/></li>
		</ul>
		<div class="file-field input-field">
			<div class="btn">
				<span>File</span>
				<input type="file" file-model = ""/>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Upload one or more files">
			</div>
		</div>
		<label for="text{$master.id$}">To: </label>
		<textarea id="text{$master.id$}" ng-model="master.text" required> </textarea>

		<button class="btn content-right" type="submit" ng-submit="editPost">Odeslat</button>

		<pre>master = {$master | json$}</pre>
	</form>
